/*----------  Component : Card  ----------*/

.card-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &.inactive {
        border: 0;
        padding: 0;

        +.card-body {
            display: none !important;
        }
    }
}

.card-title {
    flex: 1 1;
    margin: 0;
}

.card-toggle {
    position: absolute;
    top: 0;
    right: 0;
}

.card-subtitle {
    flex: 1 1;
    flex-basis: 100%;
    margin: 1rem 0 0.5rem 0;
    opacity: 0.85;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}