/*----------  Component : MQTT Item  ----------*/

.data-list:empty::after {
    content: 'There is currently no available data.';
    position: relative;
    display: block;
    width: 100%;
    padding: 1rem;
}

.data-list-item {
    display: flex;
    flex-direction: row;
    width: calc(100% - 2rem);
    margin: 1.5rem 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: var(--base-border-radius);

    >*:not(:first-child) {
        margin-left: 1rem;
    }
}