/// Mixins
@use '../mixins/screen' as screen;

/*----------  Component : Scrollbars  ----------*/

@include screen.query-min('md', width) {
    .with-custom-webkit-scrollbars {
        *::-webkit-scrollbar-track {
            border: var(--webkit-scrollbar-track-border-width) solid var(--lm-webkit-scrollbar-track-border-color);

            &:vertical {
                border-top-left-radius: var(--base-border-radius);
                border-bottom-left-radius: var(--base-border-radius);
            }

            &:horizontal {
                border-top-left-radius: var(--base-border-radius);
                border-top-right-radius: var(--base-border-radius);
            }
        }
    }
}
