CONFIG_APP_COMPILE_TIME_DATE=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.1.36"

CONFIG_ESP8266_DEFAULT_CPU_FREQ_160=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_MHZ=160
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_table.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_table.csv"
CONFIG_SPIFFS_OBJ_NAME_LEN=128

#CONFIG_CONSOLE_UART_CUSTOM=y
#CONFIG_CONSOLE_UART_CUSTOM_NUM_1=y
#CONFIG_CONSOLE_UART_NUM=1
#CONFIG_CONSOLE_UART_BAUDRATE=115200
#CONFIG_ESP_CONSOLE_UART_CUSTOM=y
#CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_1=y
#CONFIG_ESP_CONSOLE_UART_NUM=1
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_MONITOR_BAUD_115200B=y
CONFIG_NEWLIB_NANO_FORMAT=n

#Debug
#CONFIG_ESP_PANIC_PRINT_HALT=y
#CONFIG_LOG_DEFAULT_LEVEL_INFO=y
#CONFIG_LOG_DEFAULT_LEVEL=3

#release
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_ESP_PANIC_PRINT_REBOOT=y
CONFIG_LOG_BOOTLOADER_LEVEL_WARN=y
CONFIG_LOG_BOOTLOADER_LEVEL=2
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_DEFAULT_LEVEL=2

CONFIG_ESPTOOLPY_PORT="COM7"
CONFIG_ESPTOOLPY_BAUD_921600B=y
